<div class="voyage-container">

  <div class="voyage-index">
    <h6><%= voyage.title %></h6>
    <h6><%= voyage.description %></h6>
    <h6><%= voyage.vessel_type %></h6>
    <h6><%= voyage.boat_image_url %></h6>
  </div>


</div>
