<h2>Voyages</h2>

<div class="voyages-display">

    <% @voyages.each do |voyage|%>
    <%= link_to "View this Voyage", voyage_path(voyage.id) %>
      <%= render 'voyage', voyage: voyage%>
<!-- Possible code snippet for photo link -->
      <!-- link_to link_to image_tag(voyage.boat_image_url) -->

    <% end %>
  </div>


<%= link_to "Create a new voyage!", new_voyage_path  %>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://am.leagueoflegends.com/image?f=http://news.cdn.leagueoflegends.com/public/images/articles/2015/june_2015/BOET/AstroSplash_thumb.jpg" class="img-responsive">
        </a>
        <h3>Voyage
        </h3>
        <p>some text</p>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://am.leagueoflegends.com/image?f=http://news.cdn.leagueoflegends.com/public/images/articles/2015/june_2015/BOET/AstroSplash_thumb.jpg" class="img-responsive">
        </a>
        <h3>
            <a href="#">Project Name</a>
        </h3>
        <p>some text</p>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://am.leagueoflegends.com/image?f=http://news.cdn.leagueoflegends.com/public/images/articles/2015/june_2015/BOET/AstroSplash_thumb.jpg" class="img-responsive">
        </a>
        <h3>
            <a href="#">Project Name</a>
        </h3>
        <p>some text</p>
    </div>
</div>
