<div class="container">

<h3>Create an Account</h3>


<%= form_for [@user, @voyage] do |f| %>

  <div class='field'>
   <%= f.label :title %>
   <%= f.text_field :title %>
   </div>


    <%= f.submit %>
      <% end %>

</div>
