<h1>BoatShare Voyage#Show page!</h1>

<div class="voyages-display">

    <% @voyages.each do |voyage|%>
      <%= render 'voyage', voyage: voyage%>
    <% end %>
  </div>

<%= link_to "Book this Voyage", new_voyage_path  %>
