
<h1>BoatShare Voyage#Show page!</h1>

<h1>Voyages#show</h1>



<p>

  <%= form_for [@voyage, @reservation] do |f|%>
  <%= f.submit %>
  <% end %>

</p>



<%= link_to 'Delete', voyage_path(@voyage), method: :delete, data: {confirm: "Are you sure you want to delete the location '#{@voyage.title}'? This cannot be undone!"}%>
