<h2>Users</h2>

<<<<<<< HEAD

=======
>>>>>>> fc6e493932c58ae1dc56c40d7b2a346250919d14
<div class="users-display">

    <% @users.each do |user|%>
    <%= render 'user', user: user%>
    <% end %>
  </div>

<br>

<%= link_to 'New User', new_user_path %>
