<h1>Reservations#new</h1>

<div class="container">


<%= form_for [@voyage, @reservation] do |f| %>

  <div class='field'>
   <%= f.label :title %>

   </div>

    <%= f.submit %>
      <% end %>

</div>
