,
*::before
*::after {
  box-sizing: border-box;
  margin: 0;

}

body {
    background-image: url(' ');
}
h1{
  font-size: 40px;
  color: #1290FE;
  margin-top: 10px;
  font-family: monospace;
  text-align: center;
}
h2{
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
  color: #FFFFFF;
  text-align: center;
}

header{
 width: 100%;
 background-color: #FFFFFF;
  opacity: 0.5;
}

footer{
  padding: 25px 15px;
  background: #FFFFFF;
  opacity: 0.5;
}

img {
  margin: 0 auto;
}

.headerLogo{
    margin-bottom:40px;
}

.btHeader{
 margin: 10px;
}

.inputSearch{
 margin-top: 12px;
}

.navbar-nav{
 width: 100%;
}
