main.user_sessions {
  height: 100%;
}

main.user_sessions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("boats.jpg");
  background-size: cover;
  opacity: .6;
  z-index: -1;
}

.user_sessions .field {
  width: 35%;
  margin: 0 auto 15px;
}

.all-form-text {
}

.login-all {
  height: 100%;
  padding-top: 120px;

}

.login-bkg {
// background-image: url("boats.jpg");
// background-size: cover;
// height: 600px;
// padding-top: 120px;
}

.login-all .log-in-page-text {
  color: #FFF;
  text-align: center;
  opacity:1.0;
}

form {
  // text-align: center;
}

a {
  color: #333;  
}
