main.user_sessions {
}

.all-form-text {
}

.login-bkg-box {
background-image: url("boats.jpg");
opacity: 0.7;
// background-color: rgba(0, 0, 0, 0.6);
// background-color: #100f3e;
background-size: cover;
height: 600px;
padding-top: 120px;
}

.log-in-page-text {
   color: white;
}


h1 {
    text-align: center;
}

form {

  text-align: center;
}


a
 {
  text-align: center;
}
