main.user_sessions {

background-image: url("boats.jpg");
opacity: 0.8;
// background-color: #100f3e;
background-size: cover;
height: 600px;
}


h1 {

    text-align: center;
}

form {

  text-align: center;
}

a
 {
  text-align: center;
}

//
// a[href="/password_resets/new"] {
//   color: white;
//   text-align: center;
// }

.all-form-text {
 color: white;
 padding-top: 120px;
}
