main.password_resets {
  height: 100%;
}

main.password_resets::before { //adds opacity and background to page via a pseudoclass
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: image-url("foam.jpg");
  background-size: cover;
  opacity: .6;
  z-index: -1;
}

.password_resets .field {
  width: 35%;
  margin: 0 auto 15px;
}

#email {
    margin: 0 auto 15px;
}

#commit {
  margin: 0 auto 15px;
}

#email-txt-fp {
  color: #00264d;
}

#reset-password-h1 {
  text-align: center;
  opacity: 1.0;
  color: #00264d;
  padding-top: 100px;
}

.password_resets.new {
  height: 100%;
  padding-top: 280px;
}
