// .reset-password-bkg {
//   background-image: url("crowsnest.jpg");
//   opacity: 0.8;
//   background-size: cover;
//   height: 600px;
// }

.password_resets {
  background-image: url("crowsnest.jpg");
  opacity: 0.8;
  background-size: cover;
  height: 600px;
}
