// .reset-password-bkg {
//   background-image: url("crowsnest.jpg");
//   opacity: 0.8;
//   background-size: cover;
//   height: 600px;
// }

main.password_resets {
  height: 100%;
}

main.password_resets::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("crowsnest.jpg");
  background-size: cover;
  opacity: .6;
  z-index: -1;
}

.user_sessions .field {
  width: 35%;
  margin: 0 auto 15px;
}

//
// .password_resets {
//   background-image: url("crowsnest.jpg");
//   opacity: 0.8;
//   background-size: cover;
//   height: 600px;
// }
