main.users.new {
  // height: 100%;
  width: 100%;
  height: 100%;
}

main.users.new::before { //Adds pseudoclass for background image so opacity doesn't affect child element of text and form
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("canoes.jpeg");
  background-size: cover;
  opacity: .5;
  z-index: -1;
}


#user-new-h2 { //Styles Sign Up Now header
  margin-top: 50px;
   font-size: 75px;
   color: #00264d;
   margin-top: 0px;

    text-align: center;
 }


 .new_user .field, .edit_user .field, .form-group.field, .actions.field  { //Changes size of input fields in form for multiple field classes
   width: 25%;
   margin: 0 auto 10px;
 }

 //
 // #user_user_image_file { //This styles the Choose File button
 //   text-align: center;
 //   margin: 5px;
 //  //  position: absolute;
 //  //  height: 35px;
 //  //  right: 185px;
 //  //  top: 470px;
 //  margin-top: 30px;
 // }

.edit_user .actions{
    width: 200px;
    margin: 50px auto;

  }

input[value="Update User"]{
    width:200px;
}
input[type="submit"][value="Back"]{
    text-align: center;
    margin: 0 auto;
    width:100px;
}
