  <h1> Reset Password </h1>
<section ="all-form-text reset-password-bkg">

<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %> <%= submit_tag "Reset my password!" %>
  </div>
<% end %>
<section>
